<!-- your html code here -->

<div class="container py-5">
    <div class="row align-items-center">

        <div class="col-12 col-md-8">
            <h2 class="display-5">
                This First Heading
                <span class="text-secondary">Will Catch Your Eye.</span>
            </h2>

            <p class="fs-5">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
                porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
                nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>

        <div class="col-12 col-md-4 text-center">
            <img
                src="https://picsum.photos/id/64/500/500"
                class="rounded-circle img-fluid"
                alt="Imagen de la sección">
        </div>

    </div>
</div>