<!-- your html code here -->
<!--<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>


    <div class="container-fluid py-5" >

        <div class="row gx-0 mx-5 text-center text-md-start border border-start-0 border-end-0 ">


            <div class=" col-12 col-md-4 mb-4 mb-md-4  mt-3 mx-0 ">

                <img src="https://picsum.photos/id/5/500/500" class="rounded-circle img-fluid w-100 me-md-n5" alt="">
            </div>
            <div class="col-12 col-md-8  h-100 mt-3 mx-0 px-0">
                <div>
                    <p>
                        <span class="display-6 fw-bold">The Second Heading <span class="text-secondary fw-bold">Is Pretty Cool Too.</span></span>
                    </p>
                    <p class="fs-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, mollitia perferendis laboriosam officia, voluptatibus minus voluptatum nulla delectus doloremque perspiciatis libero natus veritatis aliquid, quo magnam ullam ipsum non tempora.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sequi, dolore ipsam ab odio repudiandae alias vel cum laborum, corporis iste et eligendi nisi amet. </p>

                </div>
            </div>
        </div>
    </div>


    

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    

    
</body>
</html>